# Core data files (CRITICAL: Do not leak your passwords/keys)
master.json
passwords.json
*.db
*.sqlite3

# Python environment and cache
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Personal notes and scratchpad
notes.txt

# IDEs and System files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/

# .py files
project.py
test_project.py

# the rest
AppDir/
Password_Manager-x86_64.AppImage
appimagetool
passwordmanager.AppDir/
passwordmanager.spec